# back_end
back_end/.venv
back_end/database.ini
**/__pycache__

# front_end
front_end/node_modules

# root
.env

# vscode (versionamos launch.json/tasks.json de propósito)
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json